#head{
    font-size: 48px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: rgb(252, 36, 108);
}
#sub-head{
    font-size: 22px;
    /* font-family:sans-serif; */
    color: rgb(13, 13, 134);
}