*{
    font-weight: bold;
}
#head{
    font-size: 48px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: rgb(252, 36, 108);
}
#sub-head{
    font-size: 22px;
    /* font-family:sans-serif; */
    color: rgb(13, 13, 134);
}
.jan{
    background-color: #01BD93;
    font-size: 11px !important;
    width: 100%;
}

table {
    border: 1px solid;
    width: 100%;
  }
.card-title{
    background-color: #01BD93;
    padding: 15px;
    border-radius: 20px 20px 0px 0px;
    color: white !important;
}
.main{
    border-radius: 20px 20px 20px 20px !important;
    border: 3px solid  #01BD93;
    padding: 0px 0px 20px 0px;
}
.card-title a{
    color: white !important;
}
.days{
    font-size: 11px;
}
#sunday{
    color: red;
}
.days td{
    color:#01BD93;
}
table{
    display: none;
}
